
body {
  background:url(pexels-monstera-7412094.jpg) ;
  background-size:cover;
  padding: 700px 30px 30px 30px ;
}



nav
{
  width: 100%;
  position: fixed;
  top:9%;
  text-align:center;
}

nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:bold;
  text-transform:uppercase;
  text-decoration:none;
  color:black;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
.hone{
  color: #80002a;
  font-family: "Segoe Print", Times, serif;
  width: 100%;
  position: fixed;
  top:3%;
  text-align:left;}
  .dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #F1F1F1}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3E8E41;
}

